/*Site wide variables*/
$background-color: #6F4425;
$primary-color: #ffffff;
$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
$box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);


/*Variables related to the header*/
$__header_padding: 20px;

/*Variables related to the buttons*/
$__primary_button_color: #8B0C0C;
$__secondary_button_color: #0C618B;

